<div class="container">

  <div class="row">
    <div class="col-md-10">
      <p id="notice"><%= notice %></p>

      <h1>Listing Posts</h1>

      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th>Excerpt</th>
          <th>Published at</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.excerpt %></td>
              <td><%= post.published_at %></td>
              <td><%= link_to 'Show', post %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>
      <%= paginate @posts %>
    </div>

    <%= render partial: 'basic_blog/posts/side_bar' %>
  </div>
</div>




